<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list detail</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todolist}}</h1>
            <p><a href="{% url 'update_todolist' todolist.id %}">Edit</a></p>
            <p><a href="{% url 'delete_todolist' todolist.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Due date</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist.items.all %}
                        <tr>
                            <td><a href="{% url 'update_todoitem' item.id %}">{{item.task}}</a></td>
                            <td>{{item.due_date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>